Repository mbevc1/tdns, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, pipelines

.github/labeler.yml:

documentation:
  - changed-files:
      - any-glob-to-any-file: '*.md'

dependencies:
  - changed-files:
      - any-glob-to-any-file: 'go.*'

pipelines:
  - changed-files:
      - any-glob-to-any-file: '.github/**'

chore: Update dependabot.yml
  .github/dependabot.yml
Labels: pipelines

chore: Update GHA labeler permissions
  .github/workflows/pr.yaml
Labels: pipelines

chore: Update GHA and add labeller token
  .github/workflows/pr.yaml
Labels: pipelines

chore: Bump go deps
  go.mod
  go.sum
Labels: dependencies

feat: Manage Zone options
  cmd/zone_get_options.go
  cmd/zone_set_options.go
Labels: none

chore: Remove Go build from go.mod
  go.mod
Labels: dependencies

fix: Properly pin go.mod
  go.mod
Labels: dependencies

chore: Bump Golang to 1.25
  go.mod
Labels: dependencies

chore: update Dependabot config
  .github/dependabot.yml
Labels: pipelines

chore: Bump Go in GHA
  .github/workflows/build.yaml
  .github/workflows/release.yaml
Labels: pipelines

fix: records command typo
  cmd/records.go
Labels: none

chore: amend README
  README.md
Labels: documentation

feat: send API token via Authorization Bearer header
  cmd/admin.go
  cmd/convert.go
  cmd/create.go
  cmd/delete.go
  cmd/disable.go
  cmd/enable.go
  cmd/export.go
  cmd/import.go
  cmd/list.go
  cmd/logs.go
  cmd/records.go
  cmd/resync.go
  cmd/root.go
  cmd/server_version.go
  cmd/settings.go
  cmd/version.go
  cmd/zone_get_options.go
  cmd/zone_set_options.go
  internal/api/client.go
Labels: none

test: add unit tests for main.buildVersion and internal/api client
  internal/api/client_test.go
  main_test.go
Labels: none

docs: update README
  README.md
Labels: documentation

chore: update Dependabot config
  .github/dependabot.yml
Labels: pipelines

chore: amend Dependabot GHA config
  .github/dependabot.yml
Labels: pipelines

feat: align change-password with upstream API
  CHANGELOG.md
  README.md
  cmd/admin.go
Labels: documentation

chore(ci): fail if fmt is not okay
  Makefile
Labels: none

fix: code formatting
  .github/workflows/build.yaml
  internal/api/client_test.go
Labels: pipelines

fix: remove unsupported Release Please parameter
  .github/workflows/release.yaml
Labels: pipelines

Apply suggestions from code review
  CHANGELOG.md
Labels: documentation

feat(list): support zones list filtering and pagination (API v15.3)
  README.md
  cmd/list.go
  cmd/list_test.go
Labels: documentation

Apply suggestion from @mbevc1
  CHANGELOG.md
Labels: documentation

feat(import): add overwrite-zone, overwrite and create flags
  README.md
  cmd/create.go
  cmd/create_test.go
  cmd/import.go
  cmd/import_test.go
  internal/api/version.go
  internal/api/version_test.go
Labels: documentation

feat(import): require --file and accept the zone file on stdin
  README.md
  cmd/import.go
  cmd/import_test.go
Labels: documentation

fix(list): warn when filtering paginated results needs a newer server
  README.md
  cmd/list.go
  cmd/list_test.go
Labels: documentation

chore: Apply suggestion from @mbevc1
  CHANGELOG.md
Labels: documentation
